@font-face {
    font-family: 'circular_std';
    src: url('circular-std.ttf')
}
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #fafafa;
    font-family: 'circular_std',sans-serif;
    color: rgba(0,0,0,.7);
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -.32px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}
body {
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 400;
    height: 100%;
}
a {
    background-color: transparent;
    color: rgba(0,0,0,.7);
    text-decoration: none;
}
h2 {
    margin-top: 0;
    margin-bottom: 16px;
    color: #050505;
    font-size: 4rem;
    line-height: 110%;
    font-weight: 500;
    letter-spacing: -.96px;
}
.colored-bg {
    background-color: rgba(119,212,238,.02);
}
.nav-logo{
    height: 35px;

}
.navbar-head{
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 16px 20px;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    background-color:hsla(0,0%,100%,0.64);
    backdrop-filter: blur(9px);
    mix-blend-mode: normal;
}
.navbar-head .w-nav {
    position: relative;
    background: #ddd;
    z-index: 1000;
}

.navbar-wrapper{
    display: grid;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 11px;
    grid-row-gap: 16px;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto;
}
.nav-brand{
    position: relative;
    float: left;
    text-decoration: none;
    color: #333;
}
.nav-links{
    display: flex;
    justify-self: center;
    align-self: center;
}
.w-nav-menu{
    position: relative;
    float: right;
}
.navbar-link{
    margin-top: auto;
    margin-right: 58px;
    margin-bottom: auto;
    padding: 0;
    -webkit-transition: .2s;
    transition: .2s;
    color: rgba(0,0,0,.66);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -.5px;
}
.w-nav-link{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    text-align: left;
    margin-left: auto;
}
.navbar-2-button {
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-self: end;
}
.btn {
    padding: 6px 16px;
    border-radius: 100px;
    background-color: #000;
    opacity: 1;
    -webkit-transition: 350ms;
    transition: 350ms;
    color: #fff;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: -.32px;
}
.btn.ghost-button {
    background-color: transparent;
    background-image: none;
    color: rgba(0,0,0,.7);
}
.btn.ghost-button.nav{
    border: 1px solid rgba(0,0,0,.78);
}
.btn:hover{
    transform: translateY(2px);
}
.btn.bg-gradient {
    background-image: linear-gradient(90deg,#77d4ee,#e075b4);
    background-position: 0 0,0 0;
    background-size: auto,auto;
    color: #fff;
}
.w-nav-burger {
    position: relative;
    float: right;
    display: none;
    padding: 18px;
    font-size: 24px;
    cursor: pointer;
}
.burger-icon-nav{
    width: 18px;
    height: 18px;
}
.nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}
.overlay-content{
    display: block!important;
    top: 0;
    left: 0;
    right: 0;
    background: #ece8e8;
    text-align: center;
    overflow: visible;
    min-width: 200px;
}
.navbar-link:hover {
    color: #000;
    font-weight: 600;
}

.nav-link-open {
    display: block;
    position: relative;
}

.section{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.flex-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hire-container-btm {
    display: flex;
    max-width: 1314px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 24px;
}
.hire-container-top {
    display: flex;
    max-width: 1314px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 24px;
}
.layout-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-human{
    margin: 3rem;
    
}
.tap-text{
    font-size: 2.8rem;
    font-weight: 600;    
}
.btns-after{
    display: flex;
    margin-top: 1.5rem;
    
}
.current{
    color: #000000;
    font-weight: 650;
    
}
.button-krug{
    padding: 14px 48px;
    border-radius: 100px;
    background-color: #000;
    opacity: 1;
    transition: 350ms;
    color: #fff;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: -.32px;
}
.button-krug.st-white {
    padding-right: 32px;
    padding-left: 32px;
    background-color: transparent;
    background-image: none;
    color: #000;
}
.button-krug:hover{
    transform: translateY(2px);
    opacity: 0.7;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
  }
.photo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.marL{
    margin-left: 2rem;
}
.marR{
    margin-right: 2rem;
}
.trusted-text {
    margin-bottom: 24px;
    color: rgba(0,0,0,.54);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -.32px;
}

.still-img{
    width: 584px;
    max-width: none;
}
  
@media screen and (min-width: 992px){
    .nav-overlay {
       display: none !important;
    }
}
@media screen and (max-width: 479px){
    .tap-text {
        font-size: 2rem;
    }
}
@media screen and (max-width: 479px){
.nav-logo {
    height: 28px;
    }
}
@media screen and (max-width: 767px){
.still-img {
    width: 84%;
    }
}
@media screen and (max-width: 992px){
    .photo-text{
       margin-right: 0;
       margin-left: 0;
       margin-bottom: 1rem;
    }
}
@media screen and (max-width: 992px){
    .layout-flex{
        flex-direction: column;
    }
    .tap-text{
        margin-top: 1rem;
        text-align: center;
    }
    .img-human{
        width: 83%;
    }
    .btns-after{
        justify-content: center;
    }
} 

@media screen and (max-width: 992px){
    .navbar-link{
        margin-right: 0;
        padding: 24px;
    }
} 
@media screen and (max-width: 992px){
    .navbar_menu_burger.open {
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
    }
}    
@media screen and (max-width: 992px){
    .w-nav-menu{
        display: none;
    }
    .navbar-2-button{
        display: none;
    }
    .w-nav-burger  {
       display: block;
    }
}

@media screen and (max-width: 992px){
    .navbar_menu_burger {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: none;
   }
}
@media screen and (max-width: 992px){
    .navbar-wrapper {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    }
}

