@font-face {
    font-family: 'circular_std';
    src: url('circular-std.ttf')
}

html{
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #fafafa;
    font-family: 'circular_std',sans-serif;
    color: rgba(0,0,0,.7);
    font-size: 1rem;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: -.32px;
    height: 100%;
    max-width: 100%;
    
}
* {
    box-sizing: border-box;
}
img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

a {
    background-color: transparent;
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

.gradient-photo{
    background-image:url('https://assets-global.website-files.com/6047a9e15e5dc54e0d6ddd55/635c5811b165567257d93c7a_gradient%202.jpg');
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: 50% 50%;
}
.case-container{
    display: block;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding: 26px 25px;
}
.h1-text{
    text-align: center;
    margin-bottom: 20px;
    font-size: 74px;
    color: #fff;
}
@media screen and (max-width:360px) {
    .h1-text{
        font-size: 14px;
    }
    
}
.read-text{
    text-align: center;
    font-size: 21px;
    color: #fff;
}

.container-between{
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}
.all-container{
    width: 100%;
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column-gap: 16px; /* define the size between columns*/
}
@media screen and (max-width: 480px){
.btn1,.btn2 {
    width: 100%;
    font-size: 15px;
    text-align: center;
     }
}

.btn1{
    border: 1px solid #000;
    border-radius: 100px;
    font-weight: 500;
    padding: 5px 15px;
    color: #000;    
    font-size: 1rem;
 
}
.btn1:hover{
    transform: translateY(2px);
    box-shadow: 0 8px 35px 0 rgb(119 212 238 / 20%);
}
.btn2{
    border: 1px solid #fff;
    border-radius: 100px;
    font-weight: 500;
    padding: 5px 15px;
    color: #000;
    font-size: 1rem;
  
}
.btn2:hover{
    transform: translateY(2px);
    border: 1px solid #000;
    box-shadow: 0 8px 35px 0 rgb(119 212 238 / 20%);
}
.all{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 991px){
.all {
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
     }
}
.first-container,.second-container,.third-container,.fourth-container,.fifth-container,.sixth-container{
    overflow: visible;
    margin-top: 40px;
    border-radius: 30px;    
    background-image: linear-gradient(180deg,transparent,#fff);
    box-shadow: 0 8px 35px 0 rgb(119 212 238 / 20%);
    
}
.border-photo:hover{
    transform: translateY(5px);
    box-shadow: 0 8px 35px 0 rgb(119 212 238 / 20%);
    border-radius: 30px;

}
.border-photo{
    /* border: 3px solid black; */
    display: inline-block;
    transition: 2s;
}

.image{
    padding:30px 30px ;
    width: 100%;
    height: 100%;
    
}
.kidato{
    text-align: center;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
h3{
    color: #2b2b2b;
    font-size: 1.4rem;
    font-weight: 700;
}
texts{
    position: relative;
   
}
.photo-text{
    background-color: rgba(0,0,0,.64);
    background-image: linear-gradient(180deg,transparent,#fff);
    max-height: 95px;
}
.photo-btns{
    width: 100%;
    text-align: center;
    border-radius: 100px;
    background-color: #000;
    color: #fff;
    font-weight: 550;
    letter-spacing: -.30px;
    transition: 350ms;
    opacity: 1;
    padding: 5px 15px;
}

@media screen and (max-width:610px) {
    .h1-text{
        font-size: 54px;
    }
}
@media screen and (max-width:370px) {
    .h1-text{
        /* max-width: 300px; */
        font-size: 2rem;
    }
    
}
/* @media screen and (max-width:610px) {
    .text-case{
        width: 100%;
    }
    
} 

@media screen and (max-width: 479px){

.gradient-photo {
    padding-top: 60px;
    padding-bottom: 60px;
}
} */

/* adaptation